@font-face {
    font-family: 'digital';
    src: url('../../assets/font/ds-digi.ttf');
}
.digital-saat{
    margin: 2rem 0;
    font-family: 'digital';
    background-color: rgb(37,37,37);
    border-radius: 0.5rem;
    color: rgb(133, 234, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 2rem;

    .time{
        font-size: 5rem;
    }
    
}